<footer class="footer">
  
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a>Home</a></li>
      <li><a>Contact</a></li>
    </ul>

    <ul>
      <li><h3>Legal</h3></li>
      <li><a>Privacy Policy</a></li>
      <li><a>Copyright</a></li>
    </ul>
      
    <ul>
      <li><h3>Direction</h3></li>
      <li><a>Map & Directions</a></li>
    </ul>
    
  </div>
  <hr>
  <p>
    ©2014 Carle, Mackie, Power & Ross LLP. All rights reserved.  <a href="tel:7075264200">(707) 526-4200</a>.
  </p>
  <br />
 <iframe src="https://www.google.com/maps?ll=38.431188,-122.726873&z=12&t=m&hl=en-US&gl=US&mapclient=embed&q=100+B+St+Santa+Rosa,+CA+95401"></iframe>
</footer>