<footer class="footer">
  
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a>Home</a></li>
      <li><a>Contact</a></li>
    </ul>

    <ul>
      <li><h3>Social</h3></li>
      <li>
        <% link_to '/', target: 'blank' do %>
          <i class="icon-facebook"></i> Facebook
        <% end %>
      </li>
      <li>
        <% link_to '/', target: 'blank' do %>
          <i class="icon-google_plus"></i> Google+
        <% end %>
      </li>
    </ul>
      
    <ul>
      <li><h3>Direction</h3></li>
      <li><a>Map & Directions</a></li>
    </ul>
    
  </div>
  <hr>
  <p>
    ©2014 Carle, Mackie, Power & Ross LLP. All rights reserved.  <a href="tel:7075264200">(707) 526-4200</a>.
  </p>
</footer>