<nav class="site-nav" role="navigation">
	<h1 class="site-logo"><a>CMPR</a></h1>
	<h1>CARLE MACKIE POWER & ROSS <spam class="llp-word">LLP</spam></h1>
  <div class="nav-links">
	<% link_to '#' do %>
	   HOME
	<% end %>
	<% link_to '#' do %>
	  FIRM OVERVIEW
	<% end %>
	<% link_to '#' do %>
	  PRACTICE AREAS
	<% end %>
	<% link_to '#' do %>
	  ATTORNEYS
	<% end %>
	<% link_to '#' do %>
	  CONTACT US
	<% end %>
	
	<div class="mobile-menu"><i class="icon icon-reorder"></i></div>
  </div>
</nav>
