// ------------------------------------------------------------
// Layout
// ------------------------------------------------------------
h1 {
	display: none;
  font-family: 'Droid Serif', serif; font-weight: 400;
	color: $white-smoke;
  margin-top: -10px;
	@include media($medium-screen) {
		font-size: 32px;
		display: block;
		margin-top: 0px;
	}
}
.llp-word {
	font-size: 18px;
}
.site-header {
	@include clearfix;
	background-color: $primary-blue;
  border-bottom: solid 1px $dark-blue;
	padding:1em;
}
// ------------------------------------------------------------
// overflow
// ------------------------------------------------------------

.overflow {
	overflow: hidden;
	max-height: 350px;
	
	img {
		width: 100%;
		height: auto;
		@include media($medium-screen) {
			margin-top:-17%;  // positions viewable portion of the image
		}
	}
	// move images to index page to find the path
}

// ------------------------------------------------------------
// section-grid
// ------------------------------------------------------------

.main-section {
  margin: 2em 0;
  @include outer-container;
  aside {
    margin-top: -90px;
    img {

    }

    @include media($medium-screen) {
      @include span-columns(3);
      margin-top: auto;
      margin: 0;
      text-align: center;
     }
   }
  article { 

    @include media($medium-screen) {
      @include span-columns(9); 
      font-size: 1.3em;
      margin: 0 0 0 .5em;
    }
  }
}
// ------------------------------------------------------------
// Three columns Grid
// ------------------------------------------------------------

@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;

}

.grid-items {
  $grid-items-background: $white-smoke;
  $grid-item-background: desaturate($base-accent-color, 20); 
  $grid-item-colors: 
    desaturate($base-accent-color, 10), 
    #3581A5, 
    #5FBEBE,
    #98C79A,
    #A7A891, 
    #BDCC97,
    #979EA0;
  $grid-item-border-size: 9px;
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: white;
  $grid-item-height: 14em;

  @include clearfix;
    
  .grid-item {
    @include transition (all 0.2s ease-in-out);
    height: $grid-item-height;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 0;
    overflow: hidden;
    float: left;
    padding: 2em;
    border-top: 0;
    border-bottom: 9px solid $white;
    border-left: 9px solid $white;
    border-right: 9px;
    text-align: center;
    cursor: pointer;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }
  }

  

  .grid-item h1 {
    color: $dark-blue;
    font-size: 1.5em;
    margin-bottom: .4em;
  }

  .grid-item p {
    margin: auto;
    color: transparentize($primary-blue, .1);
    @include media($medium-screen) {
      max-width: 100%;
    }
  }
    

  
#first-col {
  background-color: $white-smoke;
  
  background-repeat: no-repeat;
  background-size: cover;

  }
#second-col {
   background-color: $white-smoke;
  background-repeat: no-repeat;
  background-size: cover;
    
  }
#third-col {
  background-color: $white-smoke;
  background-repeat: no-repeat;
  background-size: cover;
  }  
}
.site-main{}
.site-footer{}



// ------------------------------------------------------------
// Site Nav
// ------------------------------------------------------------
$mobile-nav-breakpoint: $medium-screen + 15;

.site-nav {
	@include clearfix;

	.navbar-brand {
		display: block;

		i {
			font-size:3em;
			margin-right:1em;
			display: block;
		}
		@include media($mobile-nav-breakpoint) {
			float: left;
		}
	}

	.site-logo {
		display: block;
    margin-top: 0;
    margin-bottom: 0;
		@include media($medium-screen ) {
			display: none;
		}
    a {
      color: $white-smoke;
    }
	}

	.nav-links {
		height: 0;
		overflow: hidden;
    font-family: helvetica, arial, sans-serif;

		@include media($mobile-nav-breakpoint) {
			height: auto;
			float: right;
		}

		a {
      color: $white-smoke;
			@include trailing-hovers;
			@include media($mobile-nav-breakpoint) {
				display: block;
				float: left;
				line-height: 0;
				height: 0;
				padding: .6em 1.5em;
			}
		}
	}
}

// ------------------------------------------------------------
// Mobile Menu
// ------------------------------------------------------------

.mobile-menu {
	position: absolute;
	top: 1.1em;
	right: 1.1em;
	z-index: 2;

	@include media($mobile-nav-breakpoint) {
		display: none;
	}

	.icon {
		display: block;
		font-size: 2em;
		cursor: pointer;
    color: $white-smoke;
    margin-top: 9px;
	}
}

// Menu active
.menu-active {

	.nav-links {
		height: auto;
		overflow: auto;

		a {
			display: block;
			padding: .5em;
			text-align:center;
      color: $white-smoke;
		}
	}
}


// ------------------------------------------------------------
// footer
// ------------------------------------------------------------
.site-footer{}

.footer {
  $footer-background: desaturate(darken($primary-blue, 2), 20);
  $footer-color: $white-smoke;
  $footer-link-color: transparentize($footer-color, .2);
  $footer-disclaimer-color: transparentize($footer-color, .6);

  background: $primary-blue;
  padding: $base-line-height*2 $gutter;
  width: 100%;
 

  .footer-links {
    @include clearfix;
    margin-bottom: $base-line-height;

    @include media($medium-screen) {
      @include shift(3);
    }
  }

  ul {
    margin-bottom: $base-line-height*2;

    @include media($medium-screen) {
      @include span-columns(3);
      @include omega(3n);
      @include clearfix;
    }
  }
  a {
  	color: $white-smoke;
  }

  li {
    text-align: center;

    @include media($medium-screen) {
      text-align: left;
    }
  }

  li a {
    color: $white-smoke;

    &:hover {
      color: transparentize($light-blue, 0);
    }
  }

  li h3 {
    color: $white;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: .4em;
  }  

  hr {
    border: 1px solid transparentize($white-smoke, .9);
    margin: 0 auto $base-line-height;
    width: 10em;
  }

  p {
    color: $white-smoke;
    font-size: .9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}
