---
title: CMPR
---
<div class="overflow">
	<div class="hero-content">
		<%= image_tag 'overflow.png' %>
	</div>
</div>

<div class="container">

	<section class="main-section">
		<aside>
			<%= image_tag 'home-page-graphic.png', :class => 'site-logo' %>
		</aside>
		<article>
			<blockquote>"With a proactive, results driven approach CMPR delivers high quality, value added legal services designed to meet the aims and objectives of all our clients."</blockquote>
		</article>
	</section>


	<div class="grid-items">

		<a id="first-col" class="grid-item">
		<i class="icon-users icon3x"></i> 
		<h1>Recruiting</h1>
		<p> CMPR is always looking for highly motivated individuals to join our team.</p>
		</a>

		<a id="second-col" class="grid-item">
		<i class="icon-newspaper icon3x"></i> 
		<h1>Publications</h1>
		<p>From time to time we will post information!</p>
		</a>

		<a id="third-col" class="grid-item">
		<i class="icon-paperplane_ico icon3x"></i> 
		<h1>Contact</h1>
		<p>Please call us to arrange an introductory meeting.</p>
		</a>
	</div>

	<div id="SideContent" class=""> <!-- Side Content Start   --> 	
		<h1>Map &amp; Directions</h1>
		<p>
			<strong>Carle, Mackie, Power &amp; Ross LLP</strong><br>
			100 B Street, Suite 400<br>
			Santa Rosa, CA 95401-6376<br>
			Telephone: <a href="tel:7075264200"> 707 526-4200</a><br>
			Facsimile: <a href="tel:7075264707"> 707 526-4707</a><br> 
		</p>
		<p>
			<iframe frameborder="0" height="250" marginheight="0" marginwidth="0" scrolling="no" src="http://www.google.com/maps?f=q&amp;hl=en&amp;q=100+B+St,+Santa+Rosa,+CA+95401&amp;ie=UTF8&amp;om=1&amp;hq=&amp;hnear=100+B+St,+Santa+Rosa,+California+95401&amp;ll=38.438128,-122.714109&amp;spn=0.026892,0.055704&amp;z=14&amp;iwloc=A&amp;output=embed" width="250" "=""">
			</iframe>

			<br>
			<small>
			<a href="http://www.google.com/maps?f=q&amp;hl=en&amp;q=100+B+St,+Santa+Rosa,+CA+95401&amp;ie=UTF8&amp;om=1&amp;hq=&amp;hnear=100+B+St,+Santa+Rosa,+California+95401&amp;ll=38.438128,-122.714109&amp;spn=0.026892,0.055704&amp;z=14&amp;iwloc=A&amp;source=embed" target="_new">View Larger Map</a>
			</small>
		</p>


</div>