---
title: CMPR
---
<div class="overflow">
	<%= image_tag 'overflow.png' %>
</div>

<div class="container">
	<div class="grid-items">

		<a id="first-col" class="grid-item">
		<i class="icon-label icon3x"></i>
		<h1>Recruiting</h1>
		<p> A variety of offerings to choose from.</p>
		</a>

		<a id="second-col" class="grid-item">
		<i class="icon-node_shape icon3x"></i>
		<h1>Publications</h1>
		<p>Make your own jewelry!</p>
		</a>

		<a id="third-col" class="grid-item">
		<i class="icon-placepin icon3x"></i>
		<h1>News</h1>
		<p>Get direction.</p>
		</a>
	</div>
</div>